body {
    background-color: #1e1e2f;
    color: white;
    padding: 20px;
}
h1, h4 {
    color: #f8f9fa;
}
.team-card {
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
.card-header {
    font-weight: bold;
    border-radius: 12px 12px 0 0;
    color: white;
}
button {
    transition: all 0.3s ease;
}
button:hover {
    transform: scale(1.1);
}
textarea, input[type="text"], input[type="number"], input[type="color"] {
    background-color: white;
    border: none;
    color: black;
}
textarea::placeholder, input::placeholder {
    color: #333;
}
.btn {
    border-radius: 8px;
}
.modal-content {
    background-color: #2e2e3e;
    color: white;
}
.modal-header, .modal-body {
    color: white;
}
.list-group-item {
    background-color: #2e2e3e;
    color: white;
    border-color: #444;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Ajuste do container de toasts para telas menores */
#toastContainer {
    max-width: 90vw; /* Limita o tamanho do toast a 90% da largura da tela */
    top: 10px; /* Dá um espaço superior para o toast */
    left: 50%;
    transform: translateX(-50%); /* Centraliza o toast horizontalmente */
    z-index: 1100;
}


/* Estilos Responsivos */
@media (max-width: 768px) {
    .team-card {
        margin-bottom: 15px;
    }
    .btn, input, textarea {
        font-size: 14px;
    }
    .card-header {
        font-size: 16px;
    }
    h1 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }

    #toastContainer {
        max-width: 90vw;
        left: 50%;
        transform: translateX(-50%);
    }
}